<section class="about section">
<div class="section-inner">
<h2 class="heading">About Me</h2>
<div class="content">

<p>I am a system administrator with development experience. Versed with a variety of infrastructure hardware and virtualize environments. Competent with several scripting languages and with CI and TDD workflows. Not intimidated by unfamiliar situations, very able to adapt, diagnose issues, and research as necessary. Very involved in the open source and security communities; by submitting bugs reports and patches, actively participating in user groups, and speak at conferences.</p>
<p>My tech intrests include InfoSec, "DevOps" (automating processes, site reliablity), and Web Development. My non-tech intrest include going to concerts, yoga, privacy rights, social issues, coffee.</p>

</div>
</div>
</section>
