<aside class="info aside section">
 <div class="section-inner">
   <h2 class="heading sr-only">Basic Information</h2>
   <div class="content">
     <ul class="list-unstyled">
       <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Los Angeles, US</li>
       <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a style="unicode-bidi:bidi-override; direction: rtl; color:#3AAA64">moc.azemsolrac<i class="fa fa-at" style="margin:0; color:#3AAA64"></i>tcatnoc</a></li>
       <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://www.digitalr00ts.com">http://www.digitalr00ts.com</a></li>
     </ul>
   </div>
 </div>
</aside>
