<aside class="list conferences aside section">
  <div class="section-inner">
    <h2 class="heading">Groups and Conferences</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fa fa-group"></i> <a href="https://www.svglug.org/" target="_blank">SGV Linux User Group</a></li>
        <li><i class="fa fa-group"></i> <a href="http://www.interop.com/lasvegas/expo/interopnet/" target="_blank">InteropNet</a></li>
        <li><i class="fa fa-group"></i> <a href="http://www.meetup.com/LETHAL/">L.A. Ethical Technical Hackers And Leets</a></li>
        <li><i class="fa fa-group"></i> <a href="http://www.meetup.com/OpenStack-LA//">OpenStack LA</a></li>
        <li><i class="fa fa-group"></i> <a href="http://loco.ubuntu.com/teams/ubuntu-california/">Ubuntu Hour</a></li>
      </ul>
      <ul class="list-unstyled">
        <li><i class="fa fa-calendar-o"></i> <a href="https://www.socallinuxexpo.org/" target="_blank">Southern California Linux Expo</a></li>
        <li><i class="fa fa-calendar-o"></i> <a href="https://www.defcon.org/" target="_blank">Defcon</a></li>
        <li><i class="fa fa-calendar-o"></i> <a href="http://www.securitybsides.com/" target="_blank">Bsides</a></li>
        <li><i class="fa fa-calendar-o"></i> <a href="http://www.socalcodecamp.com/" target="_blank">SoCal Code Camp</a></li>
      </ul>
    </div>
  </div>
</aside>
