<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education and Training</h2>
    <div class="content">


      <div class="item">
        <h3 class="title"><i class="fa fa-certificate"></i> <a href="{{site.baseurl | prepend:site.url}}/certification/linux-foundation-certified-system-administrator/">Linux Foundation Certified System Administrator</a></h3>
        <h4 class="university">LFCS-1500-0262-0100 <span class="year">(2015)</span></h4>
      </div>

      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> Programming for Everybody (Python)</h3>
        <h4 class="university">Coursera / University of Michigan <span class="year">(2015)</span></h4>
      </div>

      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> CS 18 - UNIX Scripting with Bash</h3>
        <h4 class="university">Pasadena City College <span class="year">(2014)</span></h4>
      </div>

      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> Drupal Module Bootcamp</h3>
        <h4 class="university">DropLabs <span class="year">(2013)</span></h4>
      </div>

      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> Cryptography Course</h3>
        <h4 class="university">Coursera / Stanford University <span class="year">(2012)</span></h4>
      </div>

    </div>
  </div>
</aside>
