<footer class="footer">
  <div class="container text-center">
    <small class="copyright">digitalr00ts <i class="fa fa-copyright"></i> {{ 'now' | date: "%Y" }}</small>
  </div>
</footer>

<!-- Javascript -->
<script type="text/javascript" src="assets/plugins/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl | prepend:site.url}}/js/bootstrap.min.js"></script>

{% if page.title == 'Resume' %}
<script type="text/javascript" src="{{site.baseurl | prepend:site.url}}/js/jquery.rss.js"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src="{{site.baseurl | prepend:site.url}}/js/github-activity.js"></script>
<!-- script type="text/javascript" src="assets/plugins/github-activity/dist/mustache/mustache.min.js"></script -->
<!-- script type="text/javascript" src="assets/plugins/github-activity/dist/github-activity-0.1.1.min.js"></script-- >
<!-- settings js -->
<script type="text/javascript" src="assets/js/main.js"></script>
{% endif %}
